.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 20vh;
  color: #3b3d54;
}
.button {
  border: solid 2px transparent;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  width: 2.5rem;
  margin-top: 11px;
  margin-top: 70px;
  height: 1.5rem;
  height: 1.5rem;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
  color: #ffffff;
  margin-left: 42.5rem;
  box-shadow: none;
  outline: none;
}
.button:hover {
  background-color: #ffffffab;
  color: rgb(105, 116, 231);
}

@media all and (max-width: 768px) {
  .pAbout {
    width: 43rem;
  }
}

@media all and (max-width: 768px) {
  .button {
    margin-right: 25px;
  }
}
